<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Default" connectionString="Server=.; Database=YXKMYCS2207; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	  <!--<add name="Second" connectionString="Server=徐维杰\SQLEXPRESS; Database=YTMX2137; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	  <add name="MySql" connectionString="Server=localhost; Database=YTMX2137; Uid=root;Pwd=123456;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
	<appSettings>
		<!-- 软件名称 -->
		<add key="ProductionDate" value="2023-02-22" />
		<add key="serialNum" value="0" />
		<add key="date" value=""/>
		<add key="jiagongjishu" value="0"/>
		<add key="chang" value=""/>
		<add key="kuan" value=""/>
		<add key="hou" value=""/>
		<add key="dangtiao" value=""/>
		<add key="suohao1" value=""/>
		<add key="suohao2" value=""/>
		<add key="suogui" value=""/>
		<add key="jiaohao1" value=""/>
		<add key="jiaohao2" value=""/>
		<add key="jiaogui" value=""/>
		<add key="menxiang" value=""/>
		<add key="leixing" value=""/>
		<add key="jiaodu" value=""/>
		<add key="leibie" value=""/>
		<add key="pitiao" value=""/>
		<add key="yanse" value=""/>
		<add key="dingtaochang" value=""/>
		<add key="API" value=""/>
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>